<div class="container" id="new_cocktail">
  <div class="container">
    <h1>Design your new Cocktail</h1>
    <%= render 'form', cocktail: @cocktail %>
    <hr>
    <p>Don't worry about the doses, we'll add them on the next page</p>
  </div>
</div>
